@page "/favoris"
@inject frontend.Services.FavorisService FavorisService
@inject NavigationManager Nav


<PageTitle>Favoris</PageTitle>

<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Laboratoire</th>
            <th>Responsable</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Offre offre in offres){
            <tr class="stageLine" @onclick="()=>NavPage(offre.Id)">
                <td>@offre.Titre</td>
                <td>@offre.Laboratoire</td>
                <td>@offre.NomResponsable</td>
                <td>
                    <button class="deleteOffres" @onclick="()=>DeleteOffre(offre)">Supprimer</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code{
    private List<Offre>? offres;
    
    protected override void OnInitialized(){
        InitialisationListe();
    }
    public void InitialisationListe(){
        offres = FavorisService.GetOffres();
    }

    public void DeleteOffre(Offre offre){
        FavorisService.DeleteFavoris(offre);
        InitialisationListe();
    }

    private void NavPage(int id){
        Nav.NavigateTo($"/infostage/{id}");
    }
}