.top-nav{
  display:grid;
  grid-template-columns: auto 1fr auto;
  align-items:center;
  padding:16px 24px;
}

.nav-left{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo{
  height:60px;
}

.brand{
  font-size:1.8rem;
  font-weight:600;
}


.nav-center{
  display:flex;
  justify-content:center;  
  gap:40px;
}


.nav-right{
  display:flex;
  justify-content:flex-end;
}
